* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  background: #1a1924;
}

#app {
  max-width: 43rem;
  width: 100%;
  padding: 0px 0px 3.2rem;
  border-radius: 0.8rem;
  margin: 6rem auto;
  background: #1a1924;
 
}


header {
  background: #16151e;
  border-radius: 0.8rem;
  padding: 40px;
}

.contact-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-actions span {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.3rem;

  color: #e1e1e6;
}

.contact-actions .actions {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.actions button {
  background: none;
  border: none;
  cursor: pointer;
}
.search {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2.4rem;
  width: 100%;
  background: #24243d;
  padding: 16px 24px;
  border-radius: 0.5rem;
}

.search input {
  all: unset;
  width: 100%;
  color: #e1e1e6;
}

.search input::placeholder {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #e1e1e6;
}

main {
  padding: 4.8rem 4rem 0px;
}
.all-groups{
  color: #e1e1e6;
  overflow: auto;
  max-height: 20rem;
}
.group {
  display: flex;
  align-items: center;
  gap: 5.2rem;
  margin-bottom: 6.4rem;
}

.group span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.6rem 2.4rem;
  gap: 1rem;
  width: 4rem;
  border-radius: 0.8rem;
}
.group:nth-child(odd) span {
  background: #07847e;
}

.group:nth-child(even) span {
  background: #633bbc;
}

.contacts {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.contacts-details {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.contacts-details strong {
  line-height: 1.9rem;
  color: #e1e1e6;
}

.contacts-details p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: #8c8cba;
}

::-webkit-scrollbar{
  width: .8rem;
  height:.5rem;
}

::-webkit-scrollbar-thumb {
  background: hsla(240, 25%, 21%, 1);
  border-radius: 999px;
}
